@media (max-width:1274.99px) {
  .header__container {
    max-width: 970px;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  }
}

@media (max-width:1273.99px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input {
    width: 500px;
  }

  .btn {
    width: 500px;
  }
}

@media (max-width:1200px) {}

@media (max-width:991.98px) {}

@media (max-width:849.98px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width:767.98px) {
  .header__menu {
    display: none;
  }

  .header__burger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }

  .header__burger button span {
    display: flex;
    margin-bottom: 5px;
    width: 34px;
    height: 4px;
    border-radius: 2px;
    background-color: #cc3d11;
  }

  .martial-arts-box p {
    font-size: 20px;
  }

  .martial-arts-title {
    font-size: 50px;
  }
}

@media (max-width:746.98px) {
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width:745.99px) {
  .header-phone {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
  }

}

@media (max-width: 683.99px) {
  input {
    width: 485px;
    width: 100%;
  }
}

@media (max-width: 479.98px) {}